<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/da2720495a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <title>Kitchening</title>
</head>
<body>
    <header>
        <div>
            <img src="/images/logo.jpg" alt="Logo">
        </div>
        <button><i class="fa-solid fa-bars"></i></button>
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href=""></a>quienes</li>
                <li><a href=""></a>servicios</li>
                <li><a href=""></a>porfolio</li>
                <li><a href=""></a>sucursales</li>
                <li><a href=""></a>contacto</li>
            </ul>
        </nav>
    </header>
    

    <main>
        <section>
            <article>
                <div>
                    <img src="/images/img-descuento.png" alt="Descuento">
                    <img src="/images/img-pdto-1.jpg" alt="producto1">
                    <a href="">ampliar todo</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim dolorum consequuntur, 
                    totam sit expedita deleniti. Quis!</p>
                <a href="">ver mas</a>
            </article>
        </section>
    </main>
    

    <footer>
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href=""></a>quienes</li>
                <li><a href=""></a>servicios</li>
                <li><a href=""></a>porfolio</li>
                <li><a href=""></a>sucursales</li>
                <li><a href=""></a>contacto</li>
            </ul>
        </nav>

    </footer>
    
     


</body>
</html>