<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/da2720495a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <title>Kitchening</title>
</head>
<body class="home">
    <header class="home__header">
        <div class="home__header__logo">
            <img src="/images/logo.jpg" alt="Logo">
        </div>
        <button><i class="fa-solid fa-bars"></i></button>
        <nav class="home__header__menu">
            <ul>
                <li><a href="">home</a></li>
                <li><a href=""></a>quienes</li>
                <li><a href=""></a>servicios</li>
                <li><a href=""></a>porfolio</li>
                <li><a href=""></a>sucursales</li>
                <li><a href=""></a>contacto</li>
            </ul>
        </nav>
    </header>
    

    <main class="home__main">
        <section class="home__section--banner">
            <img src="/images/img-banner.jpg" alt="Banner">
        </section>

        <section class="home__section--products">
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img  class = "home__section__product__photo--sticker" src="/images/img-descuento.png" alt="Descuento">
                    <img class = "home__section__product__photo--primary"  src="/images/img-pdto-1.jpg" alt="producto1">
                    <a class = "home__section__product__photo--zoom" href="">ampliar foto</a>
                </div>
                <h2 class = "home__section__product--title">Lorem, ipsum dolor.</h2>
                <p class = "home__section__product--description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim dolorum consequuntur, 
                    totam sit expedita deleniti. Quis!</p>
                <a class = "home__section__product--show" href="">ver mas</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img  class = "home__section__product__photo--sticker" src="/images/img-gratis.png" alt="gratis">
                    <img class = "home__section__product__photo--primary"  src="/images/img-pdto-2.jpg" alt="producto2">
                    <a class = "home__section__product__photo--zoom" href="">ampliar foto</a>
                </div>
                <h2 class = "home__section__product--title">Lorem, ipsum dolor.</h2>
                <p class = "home__section__product--description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim dolorum consequuntur, 
                    totam sit expedita deleniti. Quis!</p>
                <a class = "home__section__product--show" href="">ver mas</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img  class = "home__section__product__photo--sticker" src="/images/img-nuevo.png" alt="nuevo">
                    <img class = "home__section__product__photo--primary"  src="/images/img-pdto-3.jpg" alt="producto3">
                    <a class = "home__section__product__photo--zoom" href="">ampliar foto</a>
                </div>
                <h2 class = "home__section__product--title">Lorem, ipsum dolor.</h2>
                <p class = "home__section__product--description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim dolorum consequuntur, 
                    totam sit expedita deleniti. Quis!</p>
                <a class = "home__section__product--show" href="">ver mas</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class = "home__section__product__photo--sticker"  src="/images/img-descuento.png" alt="Descuento">
                    <img class = "home__section__product__photo--primary"  src="/images/img-pdto-1.jpg" alt="producto1">
                    <a class = "home__section__product__photo--zoom" href="">ampliar foto</a>
                </div>
                <h2 class = "home__section__product--title">Lorem, ipsum dolor.</h2>
                <p class = "home__section__product--description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim dolorum consequuntur, 
                    totam sit expedita deleniti. Quis!</p>
                <a class = "home__section__product--show" href="">ver mas</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img  class = "home__section__product__photo--sticker" src="/images/img-gratis.png" alt="gratis">
                    <img class = "home__section__product__photo--primary"  src="/images/img-pdto-2.jpg" alt="producto2">
                    <a class = "home__section__product__photo--zoom" href="">ampliar foto</a>
                </div>
                <h2 class = "home__section__product--title">Lorem, ipsum dolor.</h2>
                <p class = "home__section__product--description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim dolorum consequuntur, 
                    totam sit expedita deleniti. Quis!</p>
                <a class = "home__section__product--show" href="">ver mas</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img  class = "home__section__product__photo--sticker" src="/images/img-nuevo.png" alt="nuevo">
                    <img class = "home__section__product__photo--primary"  src="/images/img-pdto-3.jpg" alt="producto3">
                    <a class = "home__section__product__photo--zoom" href="">ampliar foto</a>
                </div>
                <h2 class = "home__section__product--title">Lorem, ipsum dolor.</h2>
                <p class = "home__section__product--description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim dolorum consequuntur, 
                    totam sit expedita deleniti. Quis!</p>
                <a class = "home__section__product--show" href="">ver mas</a>
            </article>

        </section>
    </main>
    

    <footer class="home__footer">
        <nav class ="home__footer__menu">
            <ul>
                <li><a href="">home</a></li>
                <li><a href=""></a>quienes</li>
                <li><a href=""></a>servicios</li>
                <li><a href=""></a>porfolio</li>
                <li><a href=""></a>sucursales</li>
                <li><a href=""></a>contacto</li>
            </ul>
        </nav>

    </footer>
    
     


</body>
</html>